$paddingbuton:20px;
$viewatm :10px;
.blocktrangchu {
    margin-top: 30px;
}
.blockitemsatm{
    width:100%
}
.blockimg {
    width: 80%;
    text-align: center;
    position: relative;
}
.blockimg img{
    width: 100%;
}
.viewatms{
    margin-top:$viewatm;
    padding-top:$viewatm;
    overflow-y: scroll;
    height: 300px;
}
.blockpeople{
    display: flex;
}
.blockpeople img{
    width: 50px;
    height: 50px;
}

button{
    padding: $paddingbuton;
}

.icondeletecar{
    position: absolute;
    top: -7%;
    font-size: 30px;
    right: -5%;
   cursor: pointer;
}
.people{
    margin-left:$viewatm;
    margin-right:$viewatm
}
.transaction{
    margin-top:$viewatm
}
.imgpeople{
    width: 60px;
    height: 60px;
}
.Listpeople{
    margin-top: 30px;
    background: whitesmoke;
    padding: 10px;
    overflow-y: scroll;
    height: 300px;
}

.BlockViewPeoples {
    background: white;
    padding: $viewatm;
    font-size: $viewatm;
    margin-bottom: $viewatm;
}
Button{
    margin: $viewatm;
}
